.header__complain {
  display: block;
  font-size: 20px;
  color: #010101;
  transition: all 0.4s ease-in-out;
  position: relative;
  font-weight: 600;
  cursor: pointer;
}

.header__complain::before {
  display: block;
  content: attr(data-item);
  transition: 0.4s;
  color: #fecca5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.header__complain:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .header__complain {
    font-size: 16px;
  }
}

@media screen and (max-width: 520px) {
  .header__complain {
    display: none;
  }
}
