.header__navigation {
  max-width: 380px;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .header__navigation {
    max-width: 280px;
  }
}

@media screen and (max-width: 520px) {
  .header__navigation {
    display: none;
  }
}
