.terrain__text {
  margin: 0;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 31px;
  letter-spacing: 1.3px;
  font-weight: 500;
}

.terrain__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1140px) {
  .terrain__text {
    line-height: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .terrain__text {
    margin-bottom: 40px;
    font-size: 16px;
  }
}


